.chatroom{
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 10px;
    height: calc(100vh - 100px);
    position: relative;
}
form {
    position: absolute;
    bottom: 10px;
}
.inputbox{
    padding: 7px;
    width: calc(43vw - 60px);
    font-size: 16px;
}
button{
    font-size: 16px;
    padding: 7px;
    width: 100px;
    background-color: forestgreen;
}